@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wjzphw');
	src:url('fonts/icomoon.eot?#iefixwjzphw') format('embedded-opentype'),
		url('fonts/icomoon.woff?wjzphw') format('woff'),
		url('fonts/icomoon.ttf?wjzphw') format('truetype'),
		url('fonts/icomoon.svg?wjzphw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wf"], [class*="wf"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering == */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wf001:before {
	content: "\e600";
}

.wf002:before {
	content: "\e601";
}

.wf003:before {
	content: "\e602";
}

.wf004:before {
	content: "\e603";
}

.wf005:before {
	content: "\e604";
}

.wf101:before {
	content: "\e605";
}

.wf102:before {
	content: "\e606";
}

.wf103:before {
	content: "\e607";
}

.wf104:before {
	content: "\e608";
}

.wf201:before {
	content: "\e609";
}

.wf202-down:before {
	content: "\e60a";
}

.wf202-up:before {
	content: "\e60b";
}

.wf203-down:before {
	content: "\e60c";
}

.wf203-up:before {
	content: "\e60d";
}

.wf204-down:before {
	content: "\e60e";
}

.wf204-up:before {
	content: "\e60f";
}

.wf205-down:before {
	content: "\e610";
}

.wf205-up:before {
	content: "\e611";
}

.wf206-down:before {
	content: "\e612";
}

.wf206-up:before {
	content: "\e613";
}

.wf207-down:before {
	content: "\e614";
}

.wf207-up:before {
	content: "\e615";
}

.wf208-down:before {
	content: "\e616";
}

.wf208-up:before {
	content: "\e617";
}

.wf209-down:before {
	content: "\e618";
}

.wf209-up:before {
	content: "\e619";
}

.wf301:before {
	content: "\e61a";
}

.wf302:before {
	content: "\e61b";
}

.wf303:before {
	content: "\e61c";
}

.wf304:before {
	content: "\e61d";
}

.wf401:before {
	content: "\e61e";
}

.wf501:before {
	content: "\e61f";
}

.wf502:before {
	content: "\e620";
}

.wf503:before {
	content: "\e621";
}

.wf504:before {
	content: "\e622";
}

.wf505:before {
	content: "\e623";
}

.wf506:before {
	content: "\e624";
}

.wf601:before {
	content: "\e625";
}

.wf602:before {
	content: "\e626";
}

.wf603:before {
	content: "\e627";
}

.wf604:before {
	content: "\e628";
}

.wf801:before {
	content: "\e629";
}

.wf802:before {
	content: "\e62a";
}

.wf803:before {
	content: "\e62b";
}

.wf804:before {
	content: "\e62c";
}

.wf901:before {
	content: "\e62d";
}

.wf902:before {
	content: "\e62e";
}

.wf903:before {
	content: "\e62f";
}

.wf904:before {
	content: "\e630";
}

.wf905:before {
	content: "\e631";
}

.wf906:before {
	content: "\e632";
}

.wf907:before {
	content: "\e633";
}

.wf908:before {
	content: "\e634";
}

.wf909:before {
	content: "\e635";
}

.wf910:before {
	content: "\e636";
}

.wf911:before {
	content: "\e637";
}

.wf912:before {
	content: "\e638";
}

.wf913:before {
	content: "\e639";
}

.wf914:before {
	content: "\e63a";
}

.wf915:before {
	content: "\e63b";
}

.wf916:before {
	content: "\e63c";
}

.wf917:before {
	content: "\e63d";
}

.wf918:before {
	content: "\e63e";
}

.wf919:before {
	content: "\e63f";
}

.wf920:before {
	content: "\e640";
}

.wf921:before {
	content: "\e641";
}

.wf922:before {
	content: "\e642";
}

.wf923:before {
	content: "\e643";
}

.wf924:before {
	content: "\e644";
}

.wf925:before {
	content: "\e645";
}

.wf926:before {
	content: "\e646";
}

.wf927:before {
	content: "\e647";
}

.wf928:before {
	content: "\e648";
}

.wf999:before {
	content: "\e649";
}

.wf9111:before {
	content: "\e64a";
}

.wf9112:before {
	content: "\e64b";
}

.wf9113:before {
	content: "\e64c";
}

.wf9114:before {
	content: "\e64d";
}

.wf9121:before {
	content: "\e64e";
}

.wf9122:before {
	content: "\e64f";
}

.wf9123:before {
	content: "\e650";
}

.wf9124:before {
	content: "\e651";
}

.wf9131:before {
	content: "\e652";
}

.wf9132:before {
	content: "\e653";
}

.wf9133:before {
	content: "\e654";
}

.wf9134:before {
	content: "\e655";
}

.wf9141:before {
	content: "\e656";
}

.wf9142:before {
	content: "\e657";
}

.wf9143:before {
	content: "\e658";
}

.wf9144:before {
	content: "\e659";
}

.wf9151:before {
	content: "\e65a";
}

.wf9152:before {
	content: "\e65b";
}

.wf9153:before {
	content: "\e65c";
}

.wf9154:before {
	content: "\e65d";
}

.wf9161:before {
	content: "\e65e";
}

.wf9162:before {
	content: "\e65f";
}

.wf9163:before {
	content: "\e660";
}

.wf9164:before {
	content: "\e661";
}

.wf9171:before {
	content: "\e662";
}

.wf9172:before {
	content: "\e663";
}

.wf9173:before {
	content: "\e664";
}

.wf9174:before {
	content: "\e665";
}

.wf9181:before {
	content: "\e666";
}

.wf9182:before {
	content: "\e667";
}

.wf9191:before {
	content: "\e668";
}

.wf9192:before {
	content: "\e669";
}

.wf9201:before {
	content: "\e66a";
}

.wf9202:before {
	content: "\e66b";
}

.wf9211:before {
	content: "\e66c";
}

.wf9212:before {
	content: "\e66d";
}

.wf9221:before {
	content: "\e66e";
}

.wf9222:before {
	content: "\e66f";
}

.wf9231:before {
	content: "\e670";
}

.wf9232:before {
	content: "\e671";
}

.wf9241:before {
	content: "\e672";
}

.wf9242:before {
	content: "\e673";
}

